# URL to the SCSB API
SCSB_URL=https://get.from.coworker:9093

# Auth Key for SCSB API
SCSB_API_KEY=getmefromacowoker

# FQDN to the ElasticSearch instance
ELASTICSEARCH_HOST=getmefromacoworker.com

# Name of the index to connect to
RESOURCES_INDEX=getmefromacoworker
