{
  "host": "localhost",
  "proto": "http",

  "elasticsearch": {
    "host": "get-this-from-a-coworker",
    "indexes": {
      "resources": "get-this-from-a-coworker"
    }
  },

  "port" : 3000,

  "recap": {
      "itemAvailabilityStatus" :{
          "url": "get-this-from-a-coworker",
          "api-key": "get-this-from-a-coworker"
      }
  }
}
